<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        模板学习 tp5
    </title>
    <link rel="stylesheet" href="__CSS__/index.css">
</head>
<body>
<div class="wrap">
    <!--头部-->
    <div class="header">
        header
        <!--中部-->
    </div>
    <div class="main">
        <!--边栏-->
        <div class="siderbar">
            siderbar
        </div><!--内容
            --><div class="body">
        {__CONTENT__}
    </div>
    </div>
    <!--尾部-->
    <div class="footer">
        footer
    </div>
</div>
</body>
</html>